<nav class="mt-4">
    <ul class="flex space-x-4">
        <li><a href="/" class="hover:underline {% if page.url == '/' %}font-bold{% endif %}">About</a></li>
        <li><a href="/research" class="hover:underline {% if page.url == '/research/' %}font-bold{% endif %}">Research</a></li>
        <li><a href="/blog" class="hover:underline {% if page.url == '/blog/' %}font-bold{% endif %}">Blog</a></li>
        <li><a href="/contact" class="hover:underline {% if page.url == '/contact/' %}font-bold{% endif %}">Contact</a></li>
    </ul>
</nav>